@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-dark {
  border-width: 1px;
  border-color: #ffffff1a;
  background-color: #090b10;
  
}

.neon-text {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #33C3F0 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(51 195 240 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: #8B5CF6 var(--tw-gradient-to-position);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text-neon-blue {
  --tw-text-opacity: 1;
  color: rgb(51 195 240 / var(--tw-text-opacity, 1));
}

.neon-glow {
  --tw-shadow: 0 0 10px rgba(51, 195, 240, .5);
  --tw-shadow-colored: 0 0 10px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.neon-blue {
  background-color: #33C3F0;
}

.neon-purple {
  background-color: #8B5CF6;
}

.bg-primary {
  background-color: rgba(92, 112, 214, 0);
}

.glass-card {
  border-radius: 0.75rem;
  border-width: 1px;
  border-color: #fff3;
  background-color: #ffffff1a;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
  --tw-backdrop-blur: blur(12px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}